
  div#PageContainer {
    padding-top: 0px !important;
  }

  .balcony-railing-banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    flex-direction: row-reverse;
  }

  .left {
    width: 63%;
    height: 100%;
  }

  .right {
    flex: 1;
    display: flex;
    padding: 0 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  p.right-h2 {
    color: #333;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -0.18px;
    margin: 0;
  }

  h1.right-h1 {
    color: #1A1A1A;
    text-align: left;
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -0.27px;
    margin: 0;
  }

  .balcony-railing-banner-btn {
    display: flex;
    padding: 13px 44px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #004da6;
    border-radius: 6px;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.1px;
  }

  .balcony-railing-banner-btn:hover {
    color: #FFF;
    background: linear-gradient(0deg, rgba(26, 26, 26, 0.30) 0%, rgba(26, 26, 26, 0.30) 100%), #004DA6;
  }

  .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  @media (max-width: 810px) {
    .balcony-railing-banner-container {
      flex-direction: column;
      align-items: center;
      background-image: url('https://cdn.shopify.com/s/files/1/0046/9742/3907/files/baf8e6d113ccdde9b2254d9741393fb7_3e811930-fee4-48d7-bf30-d0b0d2ef4225.jpg?v=1763004613');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 650px;
      position: relative;
    }

    .left {
      display: none;
    }

    .right {
      position: absolute;
      border-radius: 10px;
      display: flex;
      height: 650px;
      padding: 80px 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      align-self: stretch;
    }

    p.right-h2 {
      color: #333;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.80);
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }

    h1.right-h1 {
      color: #1A1A1A;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.80);
      font-family: Poppins;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 38px;
      letter-spacing: -0.32px;
      margin: 4px 0 24px 0;
    }

    a.cable-railing-banner-btn {
      display: flex;
      padding: 10px 32px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      color: #FFF;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

    .left img {
      display: none;
    }

    a.mobile-only {
      display: block;
    }

    a.desktop-only {
      display: none;
    }
  }
